@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Comforter+Brush&family=Great+Vibes&family=Marck+Script&display=swap');
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #0f3763;
    font-family: Montserrat, sans-serif;
    color: #ffffcc;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #ffffcc;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.form-container input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px;
}
input[type="number"] {
    background: #0f3763;
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
    color: #ffffcc;
}
input[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #ffffcc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.error {
    color: red;
}
.result, .stored-pairs {
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 600px) {
    .form-container {
        flex-direction: column;
        gap: 5px;
    }

    h1 {
        font-size: 18px;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 60%;
        margin: 20px auto;
        font-size: 16px;
        border-radius: 10px;
    }
}